{% extends "layout_2.html" %}
{% block head %}
    {{ super() }}
<!--     <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">-->
{% endblock %}
{% block page %}
<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-form">
                    <form action="" method="post">
                            <div class="form-group">
                                <input id="old_password" name="old_password" type="password" placeholder="Please input your current password" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <input name="new_password1" type="password" placeholder="Please input new password" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <input name="new_password2" type="password" placeholder="Please confirm new password" class="form-control"/>
                            </div>
                            <button type="submit" class="btn btn-primary btn-flat m-b-15">Submit</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
