{% extends "layout_2.html" %}
{% block head %}
    {{ super() }}
<!--     <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">-->
{% endblock %}
{% block page %}
<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-form">
                    <form action="" method="post">
                        <label>Reset Password</label>
                        <div class="form-group">
                            <input name="password1" type="password" placeholder="Please reset your new password" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input name="password2" type="password" placeholder="Please confirm your password" class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-primary btn-flat m-b-15">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
