{% extends "layout_2.html" %}
{% block head %}
    {{ super() }}
<!--     <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">-->
{% endblock %}
{% block page %}
<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-form">
                    <form action="{{ url_for('web.register') }}" method="post">
                        <div class="form-group">
                            <label>Nickname</label>
                            <input class="form-control" id="nickname" name="nickname"
                                   type="text" placeholder="Please Input Nickname"
                                   value="{{ form.data['nickname'] | default('', true)}}">
                        </div>
                        <div class="form-group">
                            <label>Email address</label>
                            <input class="form-control" id="email" name="email"
                                   type="email"  placeholder="Please Input Email"
                                   value="{{ form.data['email'] | default('', true) }}">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" id="password" name="password"
                                   type="password"  placeholder="Please Input Password">
                        </div>
                        <button class="btn btn-primary btn-flat m-b-30 m-t-30" id="btn-submit"
                                type="submit" >Register</button>
                        <div class="register-link m-t-15 text-center">
                            <p>Already have account ? <a href="{{ url_for('web.login') }}"> Sign in</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
